In [1]:
# import pandas
import pandas as pd

In [2]:
# load the iris dataset (you could either download as a csv locally, or use a URL like here)
df = pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")

In [3]:
df   # A dataframe is one of the main data structures that pandas uses. like a 2D array, broken into columns and rows

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Selecting rows and columns

In [4]:
df['species']  # do not recommend this

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [5]:
df[['petal_length', 'species']]  # will get both back, maintaining index

     petal_length    species
0             1.4     setosa
1             1.4     setosa
2             1.3     setosa
3             1.5     setosa
4             1.4     setosa
..            ...        ...
145           5.2  virginica
146           5.0  virginica
147           5.2  virginica
148           5.4  virginica
149           5.1  virginica

[150 rows x 2 columns]

In [6]:
df[2:6] # passing in integers, getting back rows 2 up to but not including 6

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [8]:
df[['petal_length', 'species']][2:6] # avoid this

   petal_length species
2           1.3  setosa
3           1.5  setosa
4           1.4  setosa
5           1.7  setosa

In [9]:
df.loc[2:6]  # loc and iloc, 
#loc uses labels of dataframe (sepal_length etc and row labels), iloc uses position (0th column or 1st column)
# use 1 set of squaer brackets with loc, we get rows 2 up to 6. Rows being treated as labels and not numbers

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [13]:
df.loc[:,'species']   # this is for getting columns back. 
# Colon then comma then list or label for column. Colon means 'everything'

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [15]:
df.loc[2:6 , ['sepal_length', 'species']]
# asking here for row labels 2 to 6
# some list of column labels
#

   sepal_length species
2           4.7  setosa
3           4.6  setosa
4           5.0  setosa
5           5.4  setosa
6           4.6  setosa

In [17]:
df.iloc[2]   # access rowns and columns through position
# from dataframe, I want row in position 2 (so should be 3rd row)

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

In [18]:
df.iloc[2:4,1]  # so here looking at row positions 2 to 4 
#(3rd and 4th row of original dataframe, wont include 4), and values in first column (indexing, 2nd column)

2    3.2
3    3.1
Name: sepal_width, dtype: float64

In [20]:
df.at[3, 'species']  #  use if you are looking for certain individual value in dataframe.
# value at rwo label 3 and col label species

# at returns a value, loc/ilac return dataseries

'setosa'

In [21]:
df.iloc[1:10:2]  # looking for all rows at index 1 up to position 10 and you only want every 2nd one.

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
7           5.0          3.4           1.5          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

### Boolean Selects

In [22]:
df.loc[:, 'species'] == 'setosa'   # Boolean Selects(True/False)
# loc selects by label
# all of the rows, and I want setosa columns
# == means compare to

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool